.wrapper{
    width: 100px;
    height: 100px;
    background-color: red;
}

.container{
    width: 100px;
    height: 100px;
    background-color: yellow;
}

.promo{
    width: 200px;
    height: 200px;
    border-radius: 100px;
}

